<!-- views/auth/private.hbs -->
<div class="div-add-place">
  <button class="button-add-place">
    <a href="/apitest" class="plus-button">
      {{!-- + --}}
      <p class="p-add">add a place</p>
    </a>
  </button>
</div>


<header class="user-header">
  <img src="https://static.thenounproject.com/png/17241-200.png" alt="">
  <h3>{{user.username}}</h3>

</header>
<hr class="hr-divider-user">


{{!-- {{{main}}} --}}
<main class="private-screen-main">

  {{#each user.favoPlace}}
  <div class="users-favorite-div" onclick="location.href='https://handlebarsjs.com/partials.html'">
    <div class="place-img-user">
    </div>
    <div class="place-description-user">
    <h4>{{this.name}}</h4>
      <p>{{ this.location}}</p>
    </div>
    <div class="place-buttons-user">
      <img src="https://static.thenounproject.com/png/141961-200.png" alt="">
      <img src="https://cdn4.iconfinder.com/data/icons/linecon/512/delete-512.png" alt="">
    </div>
  </div>
  {{/each}}


</main>

{{> footer}}