<!-- views/auth/signup.hbs -->
<main>
  <section class="signup-title">

    <h1 class="dark">Signup</h1>

  </section>
  <section class="signup-form">
    
    <form action="/signup" method="POST" id="form-container">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="Your user name">
      <br><br>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Your password">

      {{#if message}}
        <div class="error-message">{{ message }}</div>
      {{/if}}
      <br><br>

      <button type="submit" value="singup">Create account</button>

      <p class="account-message">
        Do you already have an account?
        <a href="/login">Login</a>
      </p>
    </form>

  </section>
</main>