<footer>

  <div class="footer-div-img">
    <a href="/profile">
      <img src="../../images/icon-profile-cozy.svg" alt="cozy places profile">
      </a>
    <a href="/citySearch">
      <img src="../../images/icon-search-cozy.svg" alt="cozy places search city">
      </a>
    <a href="/matchtest">
      <img src="../../images/icon-match-cozy.svg" alt="cozy places make a match">
    </a>
  </div>
</footer>