<footer>
  <hr>
  <div class="footer-div-img">
    <a href="/profile">
      <img src="https://www.library.caltech.edu/sites/default/files/styles/headshot/public/default_images/user.png?itok=1HlTtL2d" alt="">
      </a>
    <a href="/citySearch">
      <img src="https://images.vexels.com/media/users/3/132068/isolated/preview/f9bb81e576c1a361c61a8c08945b2c48-search-icon-by-vexels.png" alt="">
      </a>
    <a href="/matchtest">
      <img src="http://cdn.onlinewebfonts.com/svg/img_374932.png" alt="">
    </a>
  </div>
</footer>