<header class="user-header">
  <button type="button" onclick="history.back(-1)" class="goback-button"></button>
  <div class="user-header-wrapper">
    <img src={{user.img}} alt="">
    <div>
      <p>Welcome,</p>
      <h3>{{user.username}}</h3>
    </div>
  </div>
  <form action="/auth/logout" method="POST">
    <button type="submit" class="logout-button"></button>
  </form>
</header>
<main>
   <section class="signup-title">
     <h1 class="dark">Search a Place</h1>
   </section>
<section class="signup-form">
    <form action="/places/search" method="GET" id="form-container">
      <label for="location">Location</label>
      <input id="location" type="text" name="location" placeholder="Where is it?">
     
      <label for="placeName">Place name</label>
      <input id="placeName" type="text" name="placeName" placeholder="What its name?">

      {{#if messages}}
        <div class="error-message">{{ messages }}</div>
      {{/if}}
      <br><br>

      <button type="submit" value="singup" class="button">Search Place</button>
    </form>
</section>

</main>

{{> footer}}



    