<main>
   <section class="signup-title">
     <h1 class="dark">Search by city</h1>
   </section>

<section class="signup-form">
    <form action="/display-match/search-by-city" method="GET" id="form-container">
      <label for="location">Location</label>
      <input id="location" type="text" name="location" placeholder="Where is it?">

      {{#if errorMessage}}
        <p class="error-message">{{ errorMessage }}</p>
      {{/if}}
      <br><br>

      <button type="submit" value="singup" class="button">Search a City</button>
    </form>
</section>
<section>
{{#if result }}
<P>Congratulations! there is {{result.length}} results</P>
{{#each result}}
<div class="card-wrapper">
                  <button type="submit">
                        <div class='card'>
                              <div class="card-info">
                                    <p>{{this.cityA}}</p>
                                    <p>{{this.cityB}}</p>
                              </div>
                        </div>
                  </button>

            </div>
            {{/each }}

{{/if}}

</section>
</main>

{{> footer}}