<main class="splash-screen-main">
  <section class="splash-screen-title">

    <h1 class="floating">{{title}}</h1>
    <p class="splash-scrren-catch">Feel like home everywere you go</p>

  </section>
  <section class="splash-screen-onboarding">

    <section class="splash-screen-onboarding-wrapper">
      <article id="splash-screen-onboarding-slide-1">
        <img src="./../images/dinner-table.svg" alt="cozy-places-onb">
        <p>Add your favorite cozy places to your profile</p>
      </article>
          <article id="splash-screen-onboarding-slide-2">
        <img src="./../images/eiffel-tower.svg" alt="cozy-places-onb">
        <p>Check if there are a similar cozy place when you travel</p>
      </article>
          <article id="splash-screen-onboarding-slide-2">
        <img src="./../images/barista.svg" alt="cozy-places-onb">
        <p>If you like a place, match it for other users!</p>
      </article>
    </section>

  </section>
  <section class="splash-screen-buttons">

    <a href="/auth/signup"><button class="button">Sign up!</button></a>
    <p class="account-message">
      Do you already have an account?
      <a href="/auth/login">Login</a>
    </p>

  </section>

<script>
  function bodyBg() {
  const body = document.querySelector("body");
  body.classList.add("splash-screen-main");
}
bodyBg();

</script>

</main>

