@import url('https://fonts.googleapis.com/css?family=Gugi|Open+Sans:400,800');

/*====RESET====*/

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}
html {
  font-size: 16px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  width:100%;
  margin:0 auto;
  background:#fdfdfd;
}
input:focus{
  outline:none;
}
.total-center{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*====MOBILE FIRST====*/

h1{
  font-size: 2.5em;
  font-family: 'Gugi', cursive;
  color:white;
  text-align: center;
}
h1.floating{
  animation: floating 1s infinite;
}
h1.dark{
  color:#32003E;
}
h2{
  font-size: 1.2em;
  padding: 60px 5% 0;
  font-weight: 100;
  text-align: center;
}
h5{
  color: #f34970;
}
a {
  color: #00B7FF;
  text-decoration: none;
}
button{
  outline:none;
}
.button{
  width: 100%;
  height: 80px;
  border-radius: 10px;
  border: none;
  margin: 5% 0px;
  font-family: 'Gugi', cursive;
  font-size: 1.2em;
  background-color: #f34970;
  color:white;
  transition: all 300ms;
  cursor: pointer;
}
body.splash-screen-main{
  background: rgba(50,0,62,1);
  background: -moz-linear-gradient(top, rgba(50,0,62,1) 0%, rgba(112,19,90,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,0,62,1)), color-stop(100%, rgba(112,19,90,1)));
  background: -webkit-linear-gradient(top, rgba(50,0,62,1) 0%, rgba(112,19,90,1) 100%);
  background: -o-linear-gradient(top, rgba(50,0,62,1) 0%, rgba(112,19,90,1) 100%);
  background: -ms-linear-gradient(top, rgba(50,0,62,1) 0%, rgba(112,19,90,1) 100%);
  background: linear-gradient(to bottom, rgba(50,0,62,1) 0%, rgba(112,19,90,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32003e', endColorstr='#70135a', GradientType=0 );
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
p.splash-scrren-catch{
  color:#f34970;
}
section.splash-screen-onboarding{
  width: 80%;
  height: auto;
  overflow-x: hidden;
}
section.splash-screen-onboarding-wrapper{
  width: 300%;
  position: relative;
  animation: carrusel 6s infinite;
}
section.splash-screen-onboarding article{
  padding: 5%;
  width: 33%;
  position: relative;
  display: inline-block;
}
section.splash-screen-onboarding img{
  width:100%
}
section.splash-screen-onboarding p{
  color: white;
  text-align: center;
  margin: 15% 0 0 0;
}
section.splash-screen-buttons{
  width: 80%;
}
p.account-message{
  text-align: center;
  font-size: 0.8em;
}
section.splash-screen-buttons p{
  color: white;
}
section.signup-title{
  width: 80%;
  height: auto;
  margin: 10% 0 15%;
}
section.signup-form{
  width: 80%;
  height: auto;
}
section.signup-form input[type="text"], section.signup-form input[type="password"]{
  width: 100%;
  display: block;
  height: 80px;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  transition:all 300ms;
  margin: 20px 0px;
}
section.signup-form input[type="text"]:focus, section.signup-form input[type="password"]:focus{
  border-bottom: 1px solid #f34970;
}

/*===============PLACE PROFILE====================*/
main.place-profile-main{
  background: white;
  padding: 10% 0px;
  margin-bottom: 150px;
}
section.place-profile-title{
  width: 100%;
  margin-bottom: 10%;
}
section.place-profile-title h1{
  color:rgba(50,0,62,1);
}
section.place-profile-card{
  width:100%;
}

article.place-profile-card-img{
  overflow: hidden;
  width: 100%;
  height: 350px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0px 4px 0px 4px rgb(243, 73, 112);
}
article.place-profile-card-img img{
  width:100%;
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%)
}
article.place-profile-text{
  padding: 5%;
}
article.place-profile-text h2{
  color:#f34970;
  padding: 2% 0px;
  border-bottom: #f34970 1px solid;
  border-top: #f34970 1px solid;
}
article.place-profile-text h3{
  color: rgb(243, 73, 112);
  font-weight: 100;
}
article.place-profile-text p{
  color:rgba(50,0,62,1);
}
article.place-profile-text p.quote{
  color:rgba(50,0,62,1);
  width: 100%;
  padding: 20px;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  margin: 20px auto;
}
article.place-profile-text p.description{
  color: rgba(50,0,62,1);
  width: 100%;
  padding: 20px;
  border-radius: 15px;
  background: #f5f5f5;
}
section.place-profile-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section.place-profile-buttons form{
  margin:0;
  width: 100%;
  margin: 3%;
}
section.place-profile-buttons button.blue{
  background:#00B7FF;
}
section.place-profile-buttons button.blue:disabled{
  background:#e4e4e4;
}
section.place-profile-similar{
  text-align:center;
  margin:5% 0;
}

/*====User INFO====*/

.user-header {
  background: #f5f5f5;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  padding: 25px 5%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 0px 2px rgb(243, 73, 112);
  position: sticky;
  top: 0px;
  z-index: 999;
}
.user-header-wrapper{
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-header img{
  border-radius: 50%;
  height: 60px;
  margin: 0 30px;
  background: white;
}

.user-header h3{
  font-size: 1.3rem;
  font-weight: bold;

}

.hr-divider-user {
  border: 1px solid #f34970;
  margin: 45px auto;
  width: 200px;
}

.nav-buttons{
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: sticky;
  max-width: 600px;
  margin: 0 auto;
}
/*====User Places====*/

.users-favorite-div {
  box-shadow: 1px 1px 4px #888888;
  border-radius: 5px; 
  display: flex;
  justify-content: flex-start;
  height: 85px;
  margin: 5px 0;
  width: 95%;
}

.place-img-user{
  border-radius: 5px; 
  box-shadow: 1px 1px 4px #888888;
  display: inline;
  margin: 5px;
  height: 75px;
  width: 75px;
}
.place-img-user img{
  width: 100%;
}

.place-description-user {
  display: flex;
  flex-direction: column;
  margin: auto 3px auto 5px;
  padding: 5px;
  width: 65%;
  text-align: left;
}

.place-description-user h4 {
  font-size: 1.2rem;
  margin-bottom: 2px; 
}

.place-description-user p {
  font-size: 0.9rem;
}

.place-buttons-user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 10px 15px 0;
}

.place-buttons-user img{
  width: 22px;
}

/*====Button add places====*/

.div-add-place {
  display: flex;
  justify-content: center;
  bottom: 80px;
  position: fixed;
  margin: 0 auto ;
  width: 100%;
  z-index: 999;
  left: 0;
}

.button-delete{
  border: 1px solid blue;
}

.button-add-place {
  background-color: #f34970;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  box-shadow: 0px 10px 25px -12px rgba(0,0,0,0.5);
}

a.plus-button{
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: auto;

}

main.private-screen-main {
  align-items: center;
  display: flex;
  padding: 0;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 200px;
}
section.private-screen-main{
  padding: 0;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.list-container{
  width: 100%;
  margin-top: 15px;
}
main.private-screen-main div.list-container{
  width: 100%;
  cursor: pointer;
}
main.private-screen-main div.list-container div.card-wrapper a{
  width: 100%;
  cursor: pointer;
}
main.private-screen-main div.list-container div.card-wrapper a button{
  width: 100%;
  cursor: pointer;
}

main.private-screen-main div.list-container div.card-wrapper a button div.card {
  display: flex;
  flex-direction: row;
  justify-content: left;
  cursor: pointer;
}

main.private-screen-main div.list-container div.card-wrapper a button div.card img{
  margin: 0 5% 0 0;
  cursor: pointer;
}
.p-add {
  font-size: 2rem;
}
/*====Footer====*/
footer {
  background: white;
  bottom: 0;
  height: auto;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  left:0;
  border-top:1px solid #e4e4e4;
}

.footer-div-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-div-img a{
  width: 33%;
  display: flex;
  height: 60px;
  position: relative;
  justify-content: center;
  margin:10px;
}

.footer-div-img img{
  width: 50px;
}

/*-----------PLACES---------------------*/

.places-title{
  text-align: left;
  padding: 10% 0 4% 10%;
  border-bottom: 1px solid grey;
}


.card{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.card img{
  padding: 1px;
  height: 10vh;
}

.card-info{
  text-align: left;
  position: relative;
  left: 0px;
  width: 60%;
}
.card-info p{
  color:#f34970;
  font-size: 0.8em;
}
.card-wrapper{
  display: flex;
  justify-content:space-between;
  border-radius: 10px;
  background: white;
  color:rgba(50,0,62,1);
  margin: 2% 4%;
  border:1px solid #f5f5f5;
  padding: 5% 3%;
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 49px -40px rgba(0,0,0,1);
  cursor: pointer;
  transition: all 300ms ease-in-out;
  width:100%;
}
.card-wrapper a{
  width: 70%;
}
.card-wrapper a.match-link{
  width: 100%;
  margin:5px;
}
.card-wrapper form{
  width:30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.card-wrapper form:first-child{
  width:70%;
}
.card-wrapper button{
  background:none;
  color:rgba(50,0,62,1);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  border:none;
  width: 100%;
  position: relative;
  cursor:pointer;
  left:0px;
  transition: all 300ms ease-in-out;

}
.card-wrapper button:hover{
 left:5px;
}

.card-wrapper button.add-place-button{
  z-index: 3;
  background: #00B7FF;
  font-size: 1.2em;
  font-family: 'Gugi', cursive;
  color:white;
  text-align: center;
  margin: 5%;
}
.card-wrapper button.add-place-button:disabled{
  background: #e4e4e4;
}

.card-img-wrapper{
  height: 70px;
  overflow: hidden;
 position: relative;
  margin: 0 7% 0 0;
  border-radius: 5px;
  width: 100%;
  max-width: 70px;
}
.card-img-wrapper-in img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 200%;
  height: auto;
}
.text-overflow{
  text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.add-place-button:hover{
  transform:scale(1.1);
}
.flex-flow{
  flex-flow: column;
}

.error-message{
  color:#f34970;
  text-align:center;
}
.logout-button{
  width: 35px;
  height: 35px;
  background: url('../images/logout.svg');
  background-size: cover;
  border:none;
  cursor: pointer;
}
.goback-button{
  width: 45px;
  height: 40px;
  background: url(../images/previous.svg) no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
}
button.delete-button{
  width: 45px;
  height: 40px;
  background: url(../images/trash.svg) no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
}
form.delete-form{
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translateY(-50%);
  width: 5%;
}
.list-not-found-message-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list-not-found-message-container img{
  width: 30%;
    max-width: 300px;
    margin: 40px auto;
}
/*============================= MATCH PLACES SCREEN ===============================*/

button.matched-match-button:disabled{
  background:grey;
}


/*======ANIMATIONS=============*/

@keyframes carrusel {
  0% {
    left:0%;
  }
  30% {
    left:0%;
  }
  33% {
    left:-100%;
  }
  63% {
    left:-100%;
  }
  66% {
    left:-200%;
  }
  96% {
    left:-200%;
  }
  100% {
    left:0%;
  }

}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }

}






/* \\\\\\\\\\\RODRIGO CHANGES ///////////*/
