@import url('https://fonts.googleapis.com/css?family=Gugi|Open+Sans:400,800');

/*====RESET====*/

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}
html {
  font-size: 16px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
input:focus{
  outline:none;
}

/*====MOBILE FIRST====*/

h1{
  font-size: 2.5em;
  font-family: 'Gugi', cursive;
  color:white;
  text-align: center;
}
h1.floating{
  animation: floating 1s infinite;
}
h1.dark{
  color:#32003E;
}
h2{
    font-size: 1.5em;
}
a {
  color: #00B7FF;
  text-decoration: none;
}
button{
  width: 100%;
  height: 80px;
  border-radius: 10px;
  border: none;
  margin: 30px 0px;
  font-family: 'Gugi', cursive;
  font-size: 1.2em;
  background-color: #f34970;
  color:white;
  transition: all 300ms;
}
button:hover{
  transform: translateY(-5px);
}
main{
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15% 0px;
}
main.splash-screen-main{
  background: rgba(50,0,62,1);
  background: -moz-linear-gradient(top, rgba(50,0,62,1) 0%, rgba(112,19,90,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,0,62,1)), color-stop(100%, rgba(112,19,90,1)));
  background: -webkit-linear-gradient(top, rgba(50,0,62,1) 0%, rgba(112,19,90,1) 100%);
  background: -o-linear-gradient(top, rgba(50,0,62,1) 0%, rgba(112,19,90,1) 100%);
  background: -ms-linear-gradient(top, rgba(50,0,62,1) 0%, rgba(112,19,90,1) 100%);
  background: linear-gradient(to bottom, rgba(50,0,62,1) 0%, rgba(112,19,90,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32003e', endColorstr='#70135a', GradientType=0 );
}
p.splash-scrren-catch{
  color:#f34970;
}
section.splash-screen-onboarding{
  width: 80%;
  height: auto;
  overflow-x: hidden;
}
section.splash-screen-onboarding-wrapper{
  width: 300%;
  position: relative;
  animation: carrusel 6s infinite;
}
section.splash-screen-onboarding article{
  padding: 5%;
  width: 33%;
  position: relative;
  display: inline-block;
}
section.splash-screen-onboarding img{
  width:100%
}
section.splash-screen-onboarding p{
  color: white;
  text-align: center;
  margin: 15% 0 0 0;
}
section.splash-screen-buttons{
  width: 80%;
}
p.account-message{
  text-align: center;
  font-size: 0.8em;
}
section.splash-screen-buttons p{
  color: white;
}
section.signup-title{
  width: 80%;
  height: auto;
}
section.signup-form{
  width: 80%;
  height: auto;
}
section.signup-form input[type="text"], section.signup-form input[type="password"]{
  width: 100%;
  display: block;
  height: 80px;
  border: none;
  border-bottom: 1px solid #e4e4e4;
  transition:all 300ms;
}
section.signup-form input[type="text"]:focus, section.signup-form input[type="password"]:focus{
  border-bottom: 1px solid #f34970;
}

/*===============PLACE PROFILE====================*/
main.place-profile-main{
  background: white;
}
section.place-profile-title{
  width: 100%;
  margin-bottom: 10%;
}
section.place-profile-title h1{
  color:rgba(50,0,62,1);
}
article.place-profile-card-img img{
  width:100%;
}
article.place-profile-text{
  padding: 5%;
}
article.place-profile-text h2{
  color:#f34970;
}
article.place-profile-text h3{
  color: rgb(243, 73, 112);
  font-weight: 100;
}
article.place-profile-text p{
  color:rgba(50,0,62,1);
}
section.place-profile-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
section.place-profile-buttons a{
  width: 100%;
  margin: 3%;
}
section.place-profile-buttons button{
  margin:0;
}
section.place-profile-buttons button.blue{
  background:#00B7FF;
}
section.place-profile-similar{
  text-align:center;
  margin:5% 0;
}

/*======ANIMATIONS=============*/

@keyframes carrusel {
  0% {
    left:0%;
  }
  30% {
    left:0%;
  }
  33% {
    left:-100%;
  }
  63% {
    left:-100%;
  }
  66% {
    left:-200%;
  }
  96% {
    left:-200%;
  }
  100% {
    left:0%;
  }

}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }

}

/*====User INFO====*/

.user-header {
  display: flex;
  flex-direction: row;
  padding: 25px 5% 15px;
}

.user-header img{
  border-radius: 100%;
  height: 120px;
  padding-left: 10px; 
}

.user-header h3{
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 15px;
}

.hr-divider-user {
  height: 25px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-left:  0;
  border-right: 0;
  margin-bottom: 12px; 
}

/*====User Places====*/

.users-favorite-div {
  /* background-color: #888888; */
  box-shadow: 1px 1px 4px #888888;
  border-radius: 5px; 
  display: flex;
  justify-content: flex-start;
  height: 85px;
  margin: 5px 0;
  width: 95%;
}

.place-img-user{
  /* background: black url("https://www.imgworlds.com/wp-content/uploads/2015/12/ad-ib-dr-gourmet.jpg") no-repeat center; */
  border-radius: 5px; 
  box-shadow: 1px 1px 4px #888888;
  display: inline;
  margin: 5px;
  height: 75px;
  width: 75px;
}

.delete-button{
  border:1px solid red;
}

.place-img-user img{
  width: 100%;
}

.place-description-user {
  display: flex;
  flex-direction: column;
  margin: auto 3px auto 5px;
  padding: 5px;
  width: 65%;
  text-align: left;
}

.place-description-user h4 {
  font-size: 1.2rem;
  margin-bottom: 2px; 
}

.place-description-user p {
  font-size: 0.9rem;
}

.place-buttons-user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 10px 15px 0;
}

.place-buttons-user img{
  width: 22px;
}

/*====Button add places====*/

.div-add-place {
  display: flex;
  justify-content: center;
  bottom: 50px;
  margin-bottom: 40px;
  position: fixed;
  margin: 0 auto ;
  width: 100%;
}
.button-add-place {
  background-color: #f34970;
  border: none;
  border-radius: 20px;
  height: 40px;
  margin: 15px auto;
  transition: all 300ms;
  width: 40%;
}

a.plus-button{
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin: auto;
}

main.private-screen-main{
  align-items: center;
  display: flex;
  padding: 0;
  text-align: right;
  width: 100%;
}

.p-add {
  font-size: 0.8rem;
}

/*====Footer====*/

footer {
  background: white;
  bottom: 0;
  height: 45px;
  padding: 0;
  position: fixed;
  width: 100%;
}

.footer-div-img {
  display: flex;
  justify-content: space-around;
}

.footer-div-img a{
  margin: auto;
}

.footer-div-img img{
  width: 30px;
}

/*-----------PLACES---------------------*/

.places-title{
  text-align: left;
  padding: 10% 0 4% 10%;
  border-bottom: 1px solid grey;
}


.card{
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.card img{
  padding: 1px;
  height: 10vh;
}

.card-info{
  padding: 4% 0 0 4%;
  text-align: left;
}

/* #button-card{
  width: 100%;

} */
