!
<main>
  {{!-- <h1>placefinder</h1>
  <section class="profile-sticky">

    <h1 class="dark">profi</h1>
  </section>
  <section class="placefinder">
    <h1>{{ loc }}</h1> --}}
    <h2>papapapapa</h2>
    <h3>papapapapa</h3>

    {{!-- <ul> --}}
    {{!-- {{#each allPlaces}}
    <li{{this.name}}</li>
{{/each}} --}}
    {{!-- </ul> --}}


  {{!-- </section> --}}
</main>