<main>
   <section class="signup-title">
     <h1 class="dark">Api Test</h1>
   </section>

<section class="signup-form">

    <form action="/apitest/search" method="GET" id="form-container">
      <label for="location">Location</label>
      <input id="location" type="text" name="location" placeholder="Where is it?">
      <br><br>
      <label for="placeName">Place name</label>
      <input id="placeName" type="text" name="placeName" placeholder="What its name?">

      {{#if message}}
        <div class="error-message">{{ message }}</div>
      {{/if}}
      <br><br>

      <button type="submit" value="singup" class="button">Search Place</button>
    </form>


</section>

</main>

{{> footer}}

    